In [12]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import csv
import pandas as pd
import smtplib

In [14]:
#Connect to website

url = "https://www.amazon.com/People-Struggle-Teacher-Teaching-T-shirt/dp/B072B8M16S/ref=sr_1_25_sspa?dib=eyJ2IjoiMSJ9.H_xD2LC8KXJb_HUr4wTcfQOCOC4ApnYnMUNVci9V3Elo3nk0cFO4SGD1vzbYRIyWhCR_fPrzQkpN5OOlplCPyRsCAWmuiDZGBdA18iP29lkDJOtBk-eIUjDwL4G7NQZxRHM3VgpkyzGKYbhgtZLaIFjgUwBivwksHepzIdyGHsRXnyrHrY01eBrtc44Cce0BHyR3UtrALqTKaOkwH3kR1Wu97115NZ_2ewuFFPC_Oox01Mlvx6zhS7PXxEQwLVdIZGMgUiR_H8m8kOhh0fSiD5YLImLtPs49E8sJ-UeVG-s.fbj4MG5gfLYWuaCO9d7-UkHel5afPNkcLDTUlRz78Do&dib_tag=se&keywords=data+analyst+tshirt&qid=1734215400&sr=8-25-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9tdGY&psc=1"

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(url, headers = headers)

soup1 = BeautifulSoup(page.content,"html.parser")
soup2 = BeautifulSoup(soup1.prettify(),"html.parser")

title = soup2.find(id="productTitle").get_text()
price = soup2.find('td', class_="a-span12").get_text()
brand = soup2.find(id="bylineInfo").get_text()

#print(title)
#print(price)
print(brand)

                   Visit the Ann Arbor T-shirt Co. Store

In [16]:
price = price.strip()[1:5]
title = title.strip()
brand = brand.strip()[10:-6]

print(title)
print(price)
print(brand)

5 of 4 People Struggle with Math | Funny School Teacher Teaching Humor T-Shirt
9.99
Ann Arbor T-shirt Co.

In [20]:
today = datetime.date.today()

In [22]:
header = ['Title','Price','Brand','Date']
data = [title,price,brand,today]

with open(r'C:\Users\LENOVO\Desktop\Python\Online Learning\AmazonWebscraperdataset.csv','w', newline= '',encoding= 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [24]:
df = pd.read_csv(r'C:\Users\LENOVO\Desktop\Python\Online Learning\AmazonWebscraperdataset.csv')
df

,Title,Price,Brand,Date
0,5 of 4 People Struggle with Math | Funny Schoo...,9.99,Ann Arbor T-shirt Co.,2024-12-26

In [26]:
#Now we are appending data to csv

with open(r'C:\Users\LENOVO\Desktop\Python\Online Learning\AmazonWebscraperdataset.csv','a+', newline= '',encoding= 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [28]:
#while(True):
    #check_price()
    #time.sleep()

In [30]:
#creating the function to extract data

def get_product_details(url):
    from bs4 import BeautifulSoup
    import requests
    import time
    import datetime
    import csv
    import pandas as pd
    
    #url = "https://www.amazon.com/People-Struggle-Teacher-Teaching-T-shirt/dp/B072B8M16S/ref=sr_1_25_sspa?dib=eyJ2IjoiMSJ9.H_xD2LC8KXJb_HUr4wTcfQOCOC4ApnYnMUNVci9V3Elo3nk0cFO4SGD1vzbYRIyWhCR_fPrzQkpN5OOlplCPyRsCAWmuiDZGBdA18iP29lkDJOtBk-eIUjDwL4G7NQZxRHM3VgpkyzGKYbhgtZLaIFjgUwBivwksHepzIdyGHsRXnyrHrY01eBrtc44Cce0BHyR3UtrALqTKaOkwH3kR1Wu97115NZ_2ewuFFPC_Oox01Mlvx6zhS7PXxEQwLVdIZGMgUiR_H8m8kOhh0fSiD5YLImLtPs49E8sJ-UeVG-s.fbj4MG5gfLYWuaCO9d7-UkHel5afPNkcLDTUlRz78Do&dib_tag=se&keywords=data+analyst+tshirt&qid=1734215400&sr=8-25-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9tdGY&psc=1"
    url1 = str(url)
    
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    
    page = requests.get(url1, headers = headers)
    
    soup1 = BeautifulSoup(page.content,"html.parser")
    soup2 = BeautifulSoup(soup1.prettify(),"html.parser")
    
    title = soup2.find(id="productTitle").get_text()
    price = soup2.find('td', class_="a-span12").get_text()
    brand = soup2.find(id="bylineInfo").get_text()

    price = price.strip()[1:5]
    title = title.strip()
    brand = brand.strip()[10:-6]

    today = datetime.date.today()
    header = ['Title','Price','Brand','Date']
    data = [title,price,brand,today]

    with open(r'C:\Users\LENOVO\Desktop\Python\Online Learning\AmazonWebscraperdataset.csv','a+', newline= '',encoding= 'UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [32]:
get_product_details("https://www.amazon.com/sspa/click?ie=UTF8&spc=MToxMTg1MDQyMDYwNjEzMzQ1OjE3MzQyNzQ0NTI6c3BfZGV0YWlsX3RoZW1hdGljOjIwMDEyMDc2MjE4MTk5ODo6Ojo&url=%2Fdp%2FB00VJ8NZM2%2Fref%3Dsspa_dk_detail_2%3Fpsc%3D1%26pd_rd_i%3DB00VJ8NZM2%26pd_rd_w%3DJ15oJ%26content-id%3Damzn1.sym.e1bd46f6-106d-4001-8a1f-c5226d6c67ac%26pf_rd_p%3De1bd46f6-106d-4001-8a1f-c5226d6c67ac%26pf_rd_r%3DAXQX8D0Y6H4KC11M3QBQ%26pd_rd_wg%3D9YNhm%26pd_rd_r%3D4ee09ec0-596d-4124-9858-50fa9e86905d%26s%3Dapparel%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9kZXRhaWxfdGhlbWF0aWM")

In [38]:
df = pd.read_csv(r'C:\Users\LENOVO\Desktop\Python\Online Learning\AmazonWebscraperdataset.csv')
df

,Title,Price,Brand,Date
0,5 of 4 People Struggle with Math | Funny Schoo...,9.99,Ann Arbor T-shirt Co.,2024-12-26
1,5 of 4 People Struggle with Math | Funny Schoo...,9.99,Ann Arbor T-shirt Co.,2024-12-26
2,Hi I Don't Care Thanks Sarcastic Novelty Witty...,14.90,Feelin Good Tees,2024-12-26